extends prose

block prosetitle
  h1 About Multiverse Triangle

block prose
  :markdown-it
    Multiverse Triangle provides annotations for deep learning papers, like Rap
    Genius does for songs. It was built and continues to be maintained by
    [Brandon Hsiao](http://brandonhsiao.com).
    
    The source is on [Github](https://github.com/brhs/multri).
