extends base

block extraHead
  link(rel='stylesheet', href='/static/account.css')

block content
  body
    if messages.error
      .alert.error= messages.error

    .account
      .logo-wrap: a.logo(href='/') Multiverse Triangle
      block body
