doctype html
html
  head
    meta(charset='utf-8')
    block title
      title Multiverse Triangle

    link(rel='stylesheet', href='/vendor/normalize-css/normalize.css') 
    link(rel='stylesheet', href='/vendor/SpinKit/css/spinners/7-three-bounce.css')
    link(rel='stylesheet', href='/vendor/KaTeX/dist/katex.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oxygen:400,700')
    link(rel='stylesheet', href='/static/main.css')

    block extraHead
  block content
