doctype html
html
  head
    meta(charset='utf-8')
    block title
      title Multiverse Triangle
    link(rel='stylesheet', href='/static/main.css')
    block extraHead
  body
    block content
    .footer.wrap.cf
      .l &copy; #[a(href='/') Multiverse Triangle] 2016
      .r
        a(href='/about') About
