extends base
block content
  - var email = 'contact@multiversetriangle.com'
  body
    if messages.error
      .alert.error= messages.error
    if messages.success
      .alert.success= messages.success

    .homepage
      .top
        if davheed
          .davheed: img(src='/static/img/davheed.png')

        a.logo(href='/') Multiverse Triangle
        .slogan Rap Genius for deep learning research papers
        form.inline.r(method='post', action='/mailing')
          input(type='text', name='email', placeholder='Your email address', autofocus)
          button(type='submit') Subscribe
        .subtitle We'll email you when new papers come out.

      ul.papers
        for paper in papers
          unless paper.hide
            li: a(href='/paper/' + paper._id)= paper.title
