extends account
block body
  form(method='post')
    input(type='text', name='username', placeholder='Email', autofocus)
    input(type='password', name='password', placeholder='Password')
    button.btn(type='submit') Login
  center (Sorry, registration is currently closed.)
  // .alt-link: a(href='/register') Need an account?
