@import alias


.account
  m 6rem auto
  w 300px
  form
    m 2rem 0
  .logo-wrap
    align center
    .logo
      fs 135%
  .alt-link
    align center
    a
      wco-hover 0.6 0.8
      tdec none
      fw bold
