body {
  font: normal 15px/1.5 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #333;
}
input,
textarea,
button,
.btn {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
  border: 0;
  outline: 0;
  background: none;
  font: normal 14px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  padding: 0.5rem;
}
button,
.btn {
  border-radius: 2px;
  border: 0;
  display: block;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 0.5rem 0.9rem;
  background: #4a5;
}
button:hover,
.btn:hover {
  background: #48b45a;
}
button.btn-lg,
.btn.btn-lg {
  padding: 0.7rem 0.9rem;
}
button.btn-muted,
.btn.btn-muted {
  background: #888;
}
button.btn-muted:hover,
.btn.btn-muted:hover {
  background: #8e8e8e;
}
input,
textarea {
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  background: #fff;
  color: #000;
}
form {
  padding: 0.5rem;
  background: rgba(0,0,0,0.1);
  border-radius: 4px;
}
form input,
form textarea,
form button,
form .btn {
  margin-bottom: 0.4rem;
}
form input:last-child,
form textarea:last-child,
form button:last-child,
form .btn:last-child {
  margin-bottom: 0;
}
form.inline {
  display: inline-block;
}
form.inline input,
form.inline button,
form.inline .btn {
  display: inline-block;
  margin: 0;
  margin-right: 0.4rem;
  width: auto;
}
form.inline input:last-child,
form.inline button:last-child,
form.inline .btn:last-child {
  margin-right: 0;
}
form.inline input {
  width: 250px;
}
hr {
  margin: 1rem 0;
  border: 0;
  border-bottom: solid 1px rgba(255,255,255,0.3);
}
h1,
h2,
h3,
h4,
ul,
ol,
blockquote,
p,
form {
  margin: 0;
  margin-bottom: 1.2rem;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
ul:last-child,
ol:last-child,
blockquote:last-child,
p:last-child,
form:last-child {
  margin-bottom: 0;
}
blockquote {
  padding-left: 0.85rem;
  border-left: solid 5px #ddd;
  color: #777;
}
li > p:last-child {
  margin-bottom: 1.2rem;
}
a,
.link {
  color: #38e;
  cursor: pointer;
  text-decoration: none;
}
a:hover,
.link:hover {
  text-decoration: underline;
}
.cf {
  *zoom: 1;
}
.cf::before,
.cf::after {
  content: ' ';
  display: table;
}
.cf:after {
  clear: both;
}
.cf .l {
  float: left;
}
.cf .r {
  float: right;
}
.alert {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
  color: #fff;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 15px;
  text-align: center;
}
.alert.error {
  background: #800000;
}
.alert.success {
  background: #293;
}
