@import base
@import alias

.nav
  lh 1
  pa 1rem 1rem 0.8rem
  bborb 0.1
  align center
  a
    tdec none
    fw 600
    bco()
  .links
    a
      ml 0.75rem

.wrap
  w 1105px
  m 0 auto

.body
  m 2rem auto

.homepage
  m 4rem auto
  w 435px
  .top
    align center
    .davheed
      img
        w 200px
    .logo
      fw 600
      lh 1
      mb 0.75rem
      fs 180%
    .slogan
      fs 120%
      fw 300
      bco 0.5
      lh 1
      mb 1rem
      a
        tdec underline
        co inherit
    form
      mt 1.5rem
      mb 0.5rem
      input
        w 200px
    .subtitle
      fs 85%
      bco 0.5
  ul.papers
    list-style none
    mt 3rem
    pa 0
    li
      pa 0.55rem 0
      fs 110%
      a
        lh 1.4
        bco-hover 0.7 1
        &:hover
          tdec none

.logo
  bco()
  cur pointer
  disp inline-block
  fw 600
  fs 120%
  tdec none
  opacity 0.8
  &:hover
    opacity 0.9
    tdec none

#sidebar
  disp none

.pdf-viewer
  .paper
    w 925px
    pos relative
    #page-container
      pos static
      of hidden
      z 1
      bg none
      .pf
        brad 5px
        m 0
        bbor 0.2
        lcmb 1rem
        bs none
        of hidden
    .marker
      pos absolute
      z 3
      r -8px
      sq 28px
      cur pointer
      brad 9999px
      bg #ccc
      &:hover
        bg lighten(color-theme, 40%)
      &.selected
        bg lighten(color-theme, 0%)
  .hilite
    z 2
    bb()
    h 20px
    pos absolute
    l 0
    cur pointer
    bbg 0.1
    &.selected
      z 3
      bor solid 1px rgba(color-theme, 0.2)
      borl 0
      borr 0
      bg rgba(color-theme, 0.2)
    form.new-comment
      textarea
        h 200px
        f normal 90%/1.3 font-mono
        aa auto
    .note
      z 4
      bb()
      bs 0 0 0 2px color-theme
      wbg()
      cur default
      pos absolute
      w 300px
      r -180px
      t -20px
      .triangle
        pos absolute
        l -25px
        t 18px
        sq 0
        bor solid 12px transparent
        border-right-color color-theme
      .comment
        pa 0.75rem
        lh 1.3
        fs 90%
        &:not(:last-child)
          bborb 0.05
        h1, h2, h3, p, blockquote
          lcmb 0.7rem
        li > p:last-child
          mb 0.5rem
        .adding-comment
          align center
        .comment-info
          mb 0.7rem
          .image
            sq 32px
            of hidden
            brad 4px
            wbg()
            img
              sq 32px
          .info
            ml 0.5rem
            lh 1
            .name
              bco()
              fw 600
              mt 0.25rem
              mb 0.2rem
           .date
              co #999
              fw 400
              fs 90%
              a, .part
                disp inline-block
                mr 0.5rem
              a, .link
                co inherit
                tdec underline
  .margin
    w 150px
    ml 30px
    pos relative
    bb()
    .nn-message
      align center

.profile
  w 400px
  m 0 auto

.index-nav
  co #888
  fs 90%
  mt 0.25rem
  a
    co inherit
    tdec underline
